<nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent; padding:none; border-color:transparent; border:none;">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="navlink">
        <li class="navlink"><a class="scroll"href="#abtthe">ABOUT THE SUMMIT</a></li></li>
        <li class="navlink"><a class="scroll"href="#cioforum">CIO FORUM MEMBERS</a></li>
        <li class="navlink"><a class="scroll"href="#programsec">PROGRAM</a></li>
        <li class="dropdown navlink">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SPONSORS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/sponsors">PLATINUM</a></li>
            <li><a class=""href="/sponsors/#spons-gold">GOLD</a></li>
            <li><a class=""href="/sponsors/#spons-silver">SILVER</a></li>
            <li><a class=""href="/sponsors/#spons-session">SESSION</a></li>
            <li><a class=""href="/sponsors/#spons-exhibit">EXHIBITORS</a></li>
          </ul>
        </li>
        <li class="navlink"><a href="/venue">VENUE</a></li>
        <li class="navlink"><a href="/giveaways">GIVEAWAY GO</a></li>
        <li class="navlink"><a href="/venue">REGISTER</a></li>
        
      </ul>

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<link rel="stylesheet" href="css/animate.css">
<section id="landing">
<div id="overlay">

	<center><%=image_tag ('/assets/logo-e.png'),:class=>"landing-logo"%>
	<br><br>
	
	</center>

</div>

</section>
<section id="indexa2 ">
<div id="abtthe" class="container-fluid cf2">
<br id=""><br><br><br><br>
<center>
<div id="index1title">ABOUT THE SUMMIT</div>
</center>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10 textdiv" style="">
<br><br>
<span id="index1text">
The Ayala Group ICT Summit is an annual event that brings together in one venue participants from across the various Ayala Group companies with an interest in Information and Communications Technology. Organized by the Ayala Group CIO Forum, participation from within the Group is very active and includes senior executives, ICT decision-makers and practitioners as well as business end-users. The objective of the event is to expose the participants and increase their awareness of the latest emerging trends, developments and opportunities in ICT. The Summit is considered as the main technology event of the Ayala Group and offers unrivalled learning and networking opportunities for existing and prospective technology partners who have a strong interest in the Philippine market.
<br><br>
The Summit is a full day event which features beginning and concluding plenary sessions with the participation of invited keynote speakers. Over 45 sponsored learning breakout sessions also will be conducted by our technology partners throughout the day. In addition, an exhibit hall will feature sponsored booths where participants can network and learn more about the latest products and services offered by our technology partners.
<br><br>
This is a milestone year for the Ayala Group ICT Summit as we celebrate our 10th Anniversary of this event. So much has changed over the course of the past decade and the pace of change is accelerating faster and faster. This is especially true in the technology sphere where opportunities, as well as risks, are becoming greater with the increased volatility brought by the rapid pace of change.  
<br><br>
This provides us with the context for the 2016 Summit. ICT has evolved with the times over the ups and downs of the past decade and we pay tribute to this process of adaptation to continuous change with our theme: “Evolving ICT: Enabling, Transforming, Redefining the Future”. The subject tracks for our sponsored breakout sessions will also follow the theme of this year’s Summit and will focus on the following the key trends in ICT: Internet of Things, Cloud Computing, Big Data & Analytics, Cyber Security, Messaging, Collaboration & Social Media, and Transforming to Hybrid Infrastructure.
<br><br>
This year’s Anniversary event will also be highlighted by two very special plenary sessions. The first will be the opening Keynote Address to be given by our President and COO, Mr. Fernando Zobel de Ayala.  The second, which will also serve as the closing plenary session of the Summit, will be a presentation from Secretary Rodolfo A. Salalima, who has been appointed to head the newly formed Department of Information and Communications Technology (DICT).
<br><br>
 This year’s Summit will be held on August 12, 2016 at the Edsa Shangri-La Hotel. 
</span></div>
</div>
<center>
<br><br><br>
	<div id="index1title">AYALA COMPANIES</div>
	<br>
	<br>
	<br>
<div class="row" class="comprow">
	<div class="col-md-12">
	<%=image_tag ('/assets/ayala/ac.png'),:style=>"width:245px; margin-top:0px;"%><br style="line-height:70px;">
	<%=image_tag ('/assets/ayala/ali.png'),:style=>"width:240px; margin-top:-5px;"%>
	
	<%=image_tag ('/assets/ayala/bpi.jpg'),:style=>"width:240px; margin-top:-10px;"%>
	
	<%=image_tag ('/assets/ayala/globe.jpg'),:style=>"width:210px; margin-top:-10px;"%>
	
	<%=image_tag ('/assets/ayala/mwc.jpg'),:style=>"width:210px; margin-top:0px;"%>
	
	<%=image_tag ('/assets/ayala/imi.jpg'),:style=>"width:210px; margin-top:-5px;"%>
	<%=image_tag ('/assets/ayala/isuzu.jpg'),:style=>"width:210px; margin-top:0px;"%>
	
	<%=image_tag ('/assets/ayala/afi.png'),:style=>"width:190px; margin-top:0px;"%>
	
	<%=image_tag ('/assets/ayala/hrmall.png'),:style=>"width:180px; margin-top:-5px;"%>
	
	<%=image_tag ('/assets/ayala/healthcare.png'),:style=>"width:190px; margin-top:0px;"%>
	
	<%=image_tag ('/assets/ayala/apec.png'),:style=>"width:290px; margin-top:5px;"%>

	<%=image_tag ('/assets/ayala/infra.jpg'),:style=>"width:195px; margin-top:0px;"%>

	<%=image_tag ('/assets/ayala/energy.jpg'),:style=>"width:150px; margin-top:0px;"%>

</div>
</div>
<section id="programsec">
<br><br><br><br>
<center>
<div id="index1title">SUMMIT PROGRAM</div>
<br style="line-height:40px;">

</center>
  <center>
  <table border='0' cellpadding='0' cellspacing='0' style="width:100%;">
    <tr class='days'>
      <th id="thtop" colspan="7">Legend: Session Tracks</th>
    </tr>
    <tr class='days'>
      <th id="thbl" class="iot">Internet of Things</th>
      <th class="cc">Cloud Computing</th>
      <th class="big">Big Data & Analytics</th>
      <th class="cyber">Cyber Security</th>
      <th class="hybrid">Transforming to Hybrid Infrastructure</th>
      <th id="" class="messaging">Messaging, Collaboration & Social Media</th>
      <th id="thbr" class="blue">General</th>
    </tr>
</table>
  <br style="line-height:30px;">
<table border='0' cellpadding='0' cellspacing='0'>
    <tr class='days'>
      <th id="thb"></th>
      <th id=""colspan="7">ICT SUMMIT 2016</th>
      <th id="thsc"></th>
    </tr>
    <tr>
      <td class='time'>7:30 - 8:30</td>
      <td colspan="7" style="background-color:#E3F2FD;"><span style="color:#212121;">REGISTRATION</span></td>
       <td style="background-color:#E3F2FD;"></td>
    </tr>
    <tr>
      <td class='time'>8:30 - 8:35</td>
      <td colspan="7" style="background-color:#BBDEFB;"><span style="color:#212121;">NATIONAL ANTHEM AND INVOCATION</span></td>
      <td style="background-color:#BBDEFB;"></td>
    </tr>
    <tr>
      <td class='time'>8:35 - 8:40</td>
      <td colspan="7" style="background-color:#90CAF9;"><span style="color:#212121;">WELCOME REMARKS</span></td>
      <td style="background-color:#90CAF9;"></td>
    </tr>
    <tr>
      <td class='time'>8:40 - 9:00</td>
      <td colspan="7" style="background-color:#64B5F6;"><span style="color:#212121;">OPENING MESSAGE</span></td>
      <td style="background-color:#64B5F6;"></td>
    </tr>
    <!--<tr>
      <td class='time'>9:00 - 9:20</td>
      <td colspan="7" style="background-color:#42A5F5;"><span style="color:#212121;">KEYNOTE ADDRESS</span></td>
      <td style="background-color:#42A5F5;"></td>
    </tr>-->
    <tr>
      <td style="background-color:#212121;"></td>

      <td style="background-color:#F44336;"colspan="7">BREAKOUT SESSIONS</td>
      <td style="background-color:#F44336;"></td>

    </tr>
    <tr>
      <td style="background-color:#212121;"> Function Rooms</td>
      <td style="background-color:#212121;">Sulu</td>
      <td style="background-color:#212121;">Dapitan</td>
      <td style="background-color:#212121;">Bohol</td>
      <td style="background-color:#212121;">Lubang</td>
      <td style="background-color:#212121;">Mactan1</td>
      <td style="background-color:#212121;">Mactan2</td>
      <td style="background-color:#212121;">Batanes1</td>
      <td style="background-color:#212121;">Batanes2</td>
    </tr>
    <tr>
      <td class='time'>9:30 - 10:30</td>
      <td class='cs335 iot' data-tooltip='The connected fleet has been around since the mid 80’s and while it was mainly focusing on security applications it has continued to evolve rapidly as more data sources became available. Today we cannot conceive a world where decisions are made without having real time information to assist fleet operators managing their fleet in a safer, more secure and efficient manner. During this session we will cover typical challenges of fleet operators and how they applied IoT to improve their lives as well as looking into the future to see what is looming on the horizon.'>GLOBE: THE CONNECTED FLEET</td>
      <td class='cs426 big' data-tooltip="Learn from the world's market leader in Business Analytics what's the next big thing in Analytics and how you should get ready for it. SAS' global expert on Big Data and Analytics will share his fearless forecasts on the upcoming wave of Analytics and how companies now are showing signs of adoption.">
      SAS: PATTERNS FROM THE FUTURE</td>
      <td class='cs426 hybrid' data-tooltip='Nutanix, the leader in hyper-converged infrastructure solution, delivers an enterprise cloud platform that natively converges compute, virtualization and storage into a resilient, software-defined solution with rich machine intelligence. The world’s most advanced enterprise datacenters rely on Nutanix technology to power their mission-critical workloads at any scale.This presentation covers how Nutanix web-scale solution simplifies IT infrastructure by making IT invisible.'>ALTAIR I: NUTANIX - MAKING IT INFRASTRUCTURE INVISIBLE</td>
      <td class='cs426 cc' data-tooltip='Do you have a centralized platform to manage your software environment? What about 
after you install your software, is your tool tracking the start and end dates of those 
agreements? And what if you’re considering transitioning your on-premise workloads to
the cloud, does your procurement tool also provide robust analytics on how much those 
workloads are actually USING the cloud? SoftwareONE’s unified Digital Platform enables, supports and simplifies our Customer’s  Digital Transformation from On-Premise to the Cloud with full control of their Software Portfolio. '>SOFTWAREONE: PYRACLOUD – DIGITAL PLATFORM FOR YOUR SOFTWARE PORTFOLIO</td>
      <td class='cs426 big' data-tooltip='As investments in data and analytics technologies have become mission-critical, enterprises struggle to make digital transformation a reality. We explore how the CFO is being forced to move beyond finance to innovation and insights, and how the new economics of IT investment are forcing the CIO and CFO ever-closer together to cut cost while managing necessary digital transformation.'>ANAPLAN: BEYOND BUDGETS - THE NEW CFO AND CIO DYNAMIC FOR  DIGITAL TRANSFORMATION</td>
      <td class='cs426 big' data-tooltip='Not all big data solutions are the same. In this session, you will learn about:
1. The unique differentiators of the MapR Converged data platform vs most open source 
Big Data solutions.
2. How to get started and achieve quick business value through the MapR Quick Start 
Solution. Use cases include:
•  Datawarehouse Optimization and Offload
•  Self Service Data Exploration
•  Recommendation Engine
•  Real time Security Log Analytics
•  and more.….'>GLOBAL SAPPHIRE/MAPR: REAPING THE BUSINESS VALUE WITH THE MAPR CONVERGED DATA PLATFORM</td>
      <td class='cs426 blue' data-tooltip='n/a'>HUAWEI</td>
      <td class='cs426 iot' data-tooltip='Tech Mahindra would share their approach to create the plug n play eco-system across IOT value chain to empower enterprise across multiple Industry Verticals such as Manufacturing, Automobiles, Retail, to enable innovation and share success stories for key Industry Verticals.'>	
TECH MAHINDRA: IoT PLUG N PLAY TO ENABLE BUSINESS'S</td>

    </tr>
    <tr>
      <td class='time'>10:45 - 11:45</td>
      <td class='cs335 iot' data-tooltip='Digital business models are disruptive. The rules have changed. The roadmap to relevance is to reimagine business models and proactively evolve before new digital competitors emerge. We will examine the following areas around Digital Transformation and IoT:
1. Re-Imagine Business Models - Drive Competitive Advantage By Expanding Beyond Traditional Industry Boundaries And Transforming From An Asset To A Service/Outcome-Based Organization
2. Re-Imagine Business Process - Change or eliminate fundamental business processes due to digitization
3. Re-Imagine Work - Change or eliminate fundamental business processes due to digitization'>SAP: DRIVING DIGITAL INFORMATION WITH IoT</td>
      <td class='cs426 big' data-tooltip='Big Data is guiding the customer experience through business intelligence and best practice for getting the most ROI out of Big Data investments.'>BARHEAD: WHAT IS DATA SCIENCE?</td>
      <td class='cs426 hybrid' data-tooltip='Digital disruptors are constantly challenging traditional organizations by providing innovative and transformational services without the constraints of legacy applications and infrastructure. Now is the time to strike back against these digital disruptors by embracing things such as DevOps and Hybrid Cloud to provide transformation and innovation, though you cannot do it without the governance that you have always provided, you just need to do it a different way.This session will discuss how you can use Service Management to provide a Cloud Operating Model to allow you to leverage DevOps, move entire business processes to the cloud or have a mix of on premise and Cloud to deliver business services whilst maintaining the governance and control that is required by prudent business judgment.'>SERVICENOW:  GETTING SERVICE MANAGEMENT FOR HYBRID CLOUD</td>
      <td class='cs426 cc' data-tooltip='We address our presentation to business leaders with an understanding that many of you have already been exposed to a deluge of technical treatises and marketing messages on Cloud. We offer our thoughts on where we believe Cloud is going from a business perspective and why it’s relevant for your organization. We share our vision of Cloud, with a point of view on Cloud today, and a framework for how we might create the future together with you.'>GLOBE: POWERED BY THE NETWORK</td>
      <td class='cs426 cyber' data-tooltip='Networks are currently undergoing more dramatic change than at any time in the past thirty years. Organizations are simultaneously wrestling with issues such as BYOD, IoT, virtualization, SDN, cloud, the proliferation of applications, Big Data, and the expectations of the next generation of employees to blend their work and their personal lives on a single device of their choosing, with instant access to any data at any time from any location. This has exponentially increased the attack surface that organizations need to be concerned with.'>FORTINET: FORTINET SECURITY FABRIC</td>
      <td class='cs426 messaging' data-tooltip="Advancements in technology and digitization, combined with efforts to going eco-friendly, have pushed companies to reduce paper use and printing. In effect, this has posed challenges for printer companies and the industry as a whole. Brother International Philippines Corp.  recognizes the need to evolve in order to adapt to changing times and the global industry trends. As such, the company has created new strategies and programs to address their clients' various printing needs.">BROTHER: PRINTING INDUSTRY GLOBAL TRENDS - A SECOND LOOK AT PRINTING</td>
      <td class='cs426 blue' data-tooltip='n/a'>RAMCO</td>
      <td class='cs426 blue' data-tooltip='n/a'>	
PRICE WATERHOUSE</td>
    </tr>
    <tr>
      <td class='time'>11:45 - 12:45</td>
      <td colspan="8" style="background-color:#1976D2">LUNCH BREAK</td>
    </tr>
    <tr>
      <td class='time'>1:00 - 2:00</td>
       <td class='cs335 iot' data-tooltip='Integrating various business systems into a collective whole opens up new possibilities for your business with IoT connectors, gateways and various service options, you can be fully in control.'>BARHEAD: THE INTERNET OF THINGS - TURNING HYPE INTO REALITY</td>
      <td class='cs426 blue' data-tooltip='People are the heartbeat of every organization and great business results start with great people. When people are all-in, feeling supported, trained, rewarded and motivated, they do what it takes to win. As the leading cloud-based HCM Suite, SAP SuccessFactors helps more than 4,450 customers, and 40 million cloud application subscribers, across more than 60 industries in over 177 countries tap into this heartbeat. We will be showcasing a holistic solution that shows how a single unified solution brings together both Transactional (core) and Strategic (Recruiting, Performance, Learning, Succession and Compensation) HR.'>SAP: INCREASING THE EFFECTIVENESS AND VISIBILITY OF HR WITH WORKFORCE ANALYTICS</td>
      <td class='cs426 hybrid' data-tooltip='Dell PowerEdge FX architecture with VMware VSAN: Re-invent your data centers. By virtualizing a data center, all of the resources of the system – including computing, storage, and networking – can be “abstracted” and represented in a software form. The use of the data center resources can then be sold as a service, so that anybody can tap in and use the data center.'>GLOBAL SAPPHIRE/DELL: FUTURE READY ENTERPRISE: SOFTWARE BEHIND DATA CENTER</td>
      <td class='cs426 blue' data-tooltip='n/a'>HUAWEI</td>
      <td class='cs426 cyber' data-tooltip='Organizations of all sizes are facing emerging threats targeting to steal their intellectual property, customer records, employee data or any other method that cyber criminals can profit from like Ransomware. These advanced threats are not being stopped by traditional security mechanisms and organizations are left without adequate security tools to protect, detect or correct against these emerging threats. In this session we will take a closer look on how to effectively combat Ransomware, applying Intel Security Threat Defense Life Cycle approach.'>INTEL: NUETRALIZE EMERGING THREATS - BUILDING RESILIENCE WITH INTELLIGENT ENDPOINT PROTECTION THROUGH RANSOMWARE AND BEYOND</td>
      <td class='cs426 messaging' data-tooltip='The Brother Business Transformation is a new way of working smarter, printing smarter and thinking smarter. We’ve combined our key brand strengths to deliver significant business benefits to our customers. We have resources, hardware, software, and services tailored to a range of Industries. We acknowledge that every company and every industry is different, with specific needs and challenges. That’s why our solutions are flexible and scalable to suit every size and type of business.  The Brother printing transformation is a step for future business growth.'>BROTHER: TRANSFORM THE FUTURE</td>
      <td class='cs426 big' data-tooltip='Data and analytics helped Uber turn the taxi business completely on its head in a matter of months.
Controversial, maybe, but Uber is successful because they are a modern, reliable, data driven phenomenon
that understands the demands of millennial customers. Which means being quick, convenient, and screen
friendly. And, in turn, giving customer experience a much-needed shot in the arm. Uber has transformed the
transportation network companies worldwide.With the availability of more and more data, emergence of
more regulations from the Government and the need to meet the expectation of millennial customers, banks
has to gain insights from their data to address these challenges. At this forum, you will learn how banks
Can become a truly Data Driven Business to face the challenges today from our speakers.'>TERADATA: THE UBER PHENOMENA IN MANILA - WHY BANKS SHOULD BE WORRIED</td>
      <td class='cs426 blue' data-tooltip='n/a'>RAMCO</td>
    </tr>
    <tr>
      <td class='time'>2:15 - 3:15</td>
       <td class='cs335 iot' data-tooltip='n/a'>ACCENTURE: INTERNET OF THINGS</td>
      <td class='cs426 big' data-tooltip='According to the Strategic Management System, “The Balanced Score Card”, the survival and success of your business are dependent on how happy your customers are (customer satisfaction). Customer satisfaction can only be achieved by ensuring that clients – both internal and external – are taken cared of Properly (Process Quality) and Promptly (Cycle Time). In this session, learn how IT Service Management (ITSM) and its analytics are applied to operations and help you achieve this.'>NMI: EMPOWER OPERATIONS THROUGH IT SERVICE MANAGEMENT ANALYTICS</td>
      <td class='cs426 hybrid' data-tooltip='Cisco Meraki, part of Cisco Cloud Networking group - 100% cloud managed networking optimized for ease of use that brings the benefits of the cloud to enterprise networks. Which is always up-to-date, with new features continually delivered from the cloud. It is Out-of-the-box management, security, and capacity. Has integrated hardware and cloud management designed to "simply work".'>TRENDS & TECHNOLOGIES: A NETWORK THAT SIMPLY WORKS</td>
      <td class='cs426 blue' data-tooltip='Computer Graphics'>ORACLE</td>
      <td class='cs426 cyber' data-tooltip='Deep Identity offers a layered approach that enables better visibility and controls, ultimately automating compliance management in a cost effective manner. It provides business with the relevant reporting and analytics to improve IT security, maintain compliance and eventually minimize business risk.With ‘Layered Approach’, Deep Identity solutions penetrate deeper to bridge Identities, Accounts along with Entitlements information to provide transparencies for downstream processes such as Attestation, Compliance, Role Management, Audit and Reporting. ‘Layered Approach’ to address both Identity and Data Governance; and Administration, and Compliance Management The ‘Layered Approach’ provides complete transparencies on different layers of access across infrastructures, systems, databases, and applications. Modern, light-weight and flexible architecture. Modern and light-weight design along with flexible architecture lowers Total Cost of Ownership (TCO) for Identity Governance, Data Governance and Compliance Management projects.'>ALTAIR I: IDENTITY AND ACCESS MANAGEMENT FOR THE GENERATION OF THREATS</td>
      <td class='cs426 messaging' data-tooltip='n/a'>INFOMAX:  TRANSFORMING YOUR BUSINESS INTO PAPERLESS ENVIRONMENT</td>
      <td class='cs426 cyber' data-tooltip="Risk experts predict that 90% of organizations will experience a breach despite the fact that billions of dollars are spent on cybersecurity. In this climate where it's not a matter of 'if' but 'when' your organization will be hit with a security breach, it is imperative to focus on  rapid detection and response. The ability to process millions of records of data quickly to detect anomalies is a critical component of rapid detection. Join us to learn how sophisticated algorithms and behavior analytics to detect and report anomalies in your IT environment can prevent a security catatrosphe.">FIS: NEXT GEN APPROACH FOR CYBERSECURITY – RAPID DETECTION AND RESPONSE</td>
      <td class='cs426 bgnone'></td>
    </tr>
    <tr>
      <td class='time'>3:30 - 4:30</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>ORACLE</td>
      <td class='cs426 big' data-tooltip='Businesses are on the race in terms of picking up and moving towards growth. Now more than ever, companies in varied industries will continue to face challenges in striving for the perfect combination of Information from Processes, Action from People, and Solutions from Technology to sustain the bandwagon of growth and to succeed in terms of economic gains. Today’s enterprise business solutions demands from the users, require conformity to real world business settings and flexibility to adapt to changes, inclusion of unique features for competitive advantage and facilities for more and more formats, reports, analysis and forecast.To cope with the company’s business solution demands, Promptus 8 was instinctively created to close in the gap between the transactional processes and analytical functions of an organization. As a technology tool, Promptus 8 may be utilized by both the technical and functional users. The Data Management component of Promptus 8 harmonizes the transaction data layer from one or many sources. From here the data can be viewed across multiple types of users for data visibility and audit. The functional users will have the flexibility to create their own reports with data definitions from a common source thereby reflecting a “one true version” across multiple reports from different entities. Management will then have the appreciation of numbers and information presented in an executive dashboard published on-line or through popular mobile devices.'>FPTI: DATA MANAGEMENT - A BRIDGEWAY TO GET BUSINESS VALUE FROM BIG DATA</td>
      <td class='cs426 hybrid' data-tooltip='n/a'>ACCENTURE; TRANSFORMATION THROUGH HYBRID INFRASTRUCTURE</td>
      <td class='cs426 hybrid' data-tooltip='For customers unable to decide between public and private cloud solutions, Fujitsu will showcase and present the Hybrid IT Services offering which will provide end to end IT governance and automation between them. Fujitsu’s solution will be able to manage and orchestrate various public clouds and also private cloud solutions. It provides rich management reports as well as cost analysis reports for the senior management with the possibility of workflow processes to manage IT budget spending on cloud solutions. '>FUJITSU: HYBRID IT SERVICES</td>
      <td class='cs426 cyber' data-tooltip="FireEye is transforming the cyber security landscape to combat today's advanced cyber attacks. A purpose-built, virtual machine-based security platform that provides real-time threat  protection to enterprises and governments worldwide against the next generation of cyber attacks.">GLOBAL SAPPHIRE/FIREEYE:  CYBER SECURITY - ZERO DAY ATTACKS, ARE WE READY FOR IT?</td>
      <td class='cs426 messaging' data-tooltip='“Digital” has forced economies and companies to react differently to their customers. SAP hybris offers the platform that empowers businesses to effectively leverage the changing engagement models with customers. SAP hybris is going Beyond CRM to help customers reimagine CRM, finding ways to interact in a more personalized way with customers and being able to understand how a customer is thinking and acting so that intelligent actions can be taken is the way of this new world.'>SAP: EMPOWERING CONGLOMERATES IN THE DIGITAL ERA</td>
      <td class='bgnone'> </td>
      <td class='bgnone'> </td>
    </tr>
    <tr>
      <td id="thbl"class='time'>4:30 - 5:30</td>
      <td id="" style="background-color:#1976D2;"colspan="7">CLOSING REMARKS / ACTIVITY AND RAFFLE</td>
       <td id="thbr" style="background-color:#1976D2;"></td>
    </tr>
    
  </table>

</center>
</section>


<section id="programsec">
<br><br><br>
<center>
<div id="index1title">FREEBIES</div>

<br style="line-height:40px;">
<div class="venheader">GIVEAWAY GO</div><br><br>
<div clas="row">
	<div class="g-maincard col-md-12">
		<div class="row">
			<div class="col-md-3">
				<div class="g-subcard blue">
					
				</div>
				<div class="g-text">
					<span class="g-title">CIO MEMBERS GO</span><br>
					<span class="g-subtitle">The quick brown fox jumps...</span>
				</div>

			</div>
			<div class="col-md-3">
				<div class="g-subcard messaging">
					
				</div>
				<div class="g-text">
					<span class="g-title">SPONSORS GO</span><br>
					<span class="g-subtitle">The quick brown fox jumps...</span>
				</div>

			</div>
			<div class="col-md-3">
				<div class="g-subcard" style="background-color:#8BC34A;">
					
				</div>
				<div class="g-text">
					<span class="g-title">FORUM GO</span><br>
					<span class="g-subtitle">The quick brown fox jumps...</span>
				</div>

			</div>
			<div class="col-md-3">
				<div class="g-subcard" style="background-color:#F48FB1;">
					
				</div>
				<div class="g-text">
					<span class="g-title">WEBSITE GO</span><br>
					<span class="g-subtitle">The quick brown fox jumps...</span>
				</div>

			</div>
		</div>
		<div class="row">
		<br>
		<span class="g-title">GIVEAWAY GO MECHANICS</span>
		</div>
		<div class="row">
		<br>
		<span class="g-title">
		Several participants will win the following:
		</span>
		</div>
				<div class="row">
			<div class="col-md-3">
				<div class="g-subcard blue">
					
				</div>
				<div class="g-text">
					<span class="g-title">CIO MEMBERS GO</span><br>
					<span class="g-subtitle">The quick brown fox jumps...</span>
				</div>

			</div>
			<div class="col-md-3">
				<div class="g-subcard messaging">
					
				</div>
				<div class="g-text">
					<span class="g-title">SPONSORS GO</span><br>
					<span class="g-subtitle">The quick brown fox jumps...</span>
				</div>

			</div>
			<div class="col-md-3">
				<div class="g-subcard" style="background-color:#8BC34A;">
					
				</div>
				<div class="g-text">
					<span class="g-title">FORUM GO</span><br>
					<span class="g-subtitle">The quick brown fox jumps...</span>
				</div>

			</div>
			<div class="col-md-3">
				<div class="g-subcard" style="background-color:#F48FB1;">
					
				</div>
				<div class="g-text">
					<span class="g-title">WEBSITE GO</span><br>
					<span class="g-subtitle">The quick brown fox jumps...</span>
				</div>

			</div>
		</div>
	</div>
</div>

</center>

</section>




<span id="cioforum"></span>
<br><br>
<div id="index1title">CIO FORUM MEMBERS</div>
</center>
	<div class="row" style="margin-top:-2.5vh;">
	<center>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gigi.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Maria Angelica B. Rapadas<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>Ayala Corporation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					<i>What do you love most about being an IT practitioner?</i>&nbsp
       				The opportunity, actually the need, to learn continuously. The pace of technology requires that we keep up; this could be tiring but also exhilarating. Also, my kids think I have a "cool" job!

       				<i>If in another lifetime you would have the chance to pursue another career or passion instead of being an IT practitioner, what would that be?</i>&nbsp
       				I would be a pastry chef, with my own high-end bake shop cum cafe in Paris.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-vivien1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Vivien V. Villa-Real<br></span>
						<span class="aboutcardsubtitle">ICT Operations Manager<br>Ayala Corporation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I really like my job in ICT because it puts me on the forefront of new developments in technology and enables me to help our users increase their productivity and efficiency . The job never gets boring and there is the added benefit that my kids think they have a cool mom!   If I had a chance to live my life again, I think I would have ended up working for a multilateral relief agency like UNICEF or even one of the local NGOs that help in poverty alleviation and empowerment of children. I really have a soft spot for kids and it would make my life even more meaningful if I was able to help make the lives of disadvantaged children better and give them a chance for a brighter future.
				</span>
				<center>
				<div class="btn readmore">
					Read More
				</div>
				</center>
				</div>
			</div>
		</div>
				<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-annie.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Annie T. Alipao<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>Ayala Land Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					<i>What do you love most about being an IT practitioner?</i>&nbsp
       				
					Being able to transform your creativity to reality by implementing innovation and re-engineering through the use of technology in your workplace.

       				<i>If in another lifetime you would have the chance to pursue another career or passion instead of being an IT practitioner, what would that be?</i>&nbsp

       				Either i will be a medical doctor or I would be on the creative field.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-rod.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Roderick I. Villahermosa<br></span>
						<span class="aboutcardsubtitle">Infrastructure Manager<br>Ayala Land Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					The thing I love most about working in IT is being able to look like an expert even when I'm just figuring things out as I go.   If I weren't in IT, id probably be a farmer enjoying at least 8 hours of sleep a day.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
				<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-pilar.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Pilar Bernadette C. Marquez<br><span class="aboutcardsubtitle">Chief Information Officer<br>Bank of the Philippine Islands</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I love the challenges in the IT industry. Figuring out solutions and bringing about changes is what makes the job very interesting. This becomes even more pronounced in a heavily regulated industry. 
					<br>
					If I were to do something else, I would have wanted to try my hand as a cook or a pastry chef. I have a sweet tooth and would love to try creating my own desserts.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-pebble.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Pebbles L. Sy-Manalang<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>Globe Telecom Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I love my work because it gives me the opportunity to work with technology to change people's lives for the better.  But in another life, I would have gotten a Law degree and been an advocate for a worthwhile cause. I would still travel the world though, document my journeys and go on culinary adventures. Food photography is one of my hobbies. Traveling provides me the best backdrops; not to mention the perfect opportunities to indulge the foodie in me.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
				<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-garcia.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Rodell A. Garcia<br></span>
						<span class="aboutcardsubtitle">Chief Technology Officer<br>Manila Water Company Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					You're  always in a flux in IT and there is always something new to learn and apply, whether it be in business or in our day-to-day lives. Other than IT, I probably would want to get into one of the fields of scientific research, eg physics.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>	
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gabo1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Gabriel V. Tuason<br></span>
						<span class="aboutcardsubtitle">Head, Information Security<br>Manila Water Company Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					The best part about being in IT is that it allows us to bring innovative services to our respective businesses by deploying technology and processes.  
					<br>
					In another lifetime, I would have pursued a career in the legal world or the military service.  
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
				<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-rosalyn.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Rosalyn O. Teosoro<br></span>
						<span class="aboutcardsubtitle">Global Chief Information Officer<br>Integrated Micro-Electronics Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					What I love most about being an IT practitioner is the opportunity to learn new things every day because technology is constantly evolving. In addition, people/companies are evolving as far as their needs / requirements for technology so it keeps the life of an IT practitioner interesting and challenging.  If given a chance to pursue a passion, I would study and practice to become a certified yoga teacher. <br>
					I enjoy being an IT practitioner because of the constant learning and is never boring.  If given a chance to pursue another career, I’d probably be somebody in the field of medicine.  I had fun role-playing during my younger years either being a dentist or a doctor.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-mar.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Marino Adriano P. Encarnacion<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>AC Automotive Business Services Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					As an IT practitioner, I love helping people and solving IT-related business problems.  The more complex the problem the more satisfying it gets.  During the younger days, it was the analytical thinking required in application development, systems administration and technical support.
					If not IT, I would have pursued a career in renewable energy, or automotive design, or human kinetics.  The first one relates to my passion for scientific thinking, the second one for artistic pursuits and craftsmanship and the last one for love of sports and athleticism.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-olive.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Olive S. Garcia<br></span>
						<span class="aboutcardsubtitle">Manager, Information Systems<br>Isuzu Automotive Dealership Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Knowing that each innovation has the potential of improving lives makes technology one of the most exciting industries to work in.
					But given the chance in another lifetime, I would probably be a nurse as this was my first choice and was about to enrol in college.
					I love taking care of people and see them enjoy life to the full.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>		
		</div>
				<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-erwin1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Erwin P. Locsin<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>Ayala Foundation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext"><i>What do you love most about being an IT practitioner?</i> &nbsp&nbsp
				 I like the challenge of using IT to solve everyday problems and open up new opportunities.
				 <i>If in another lifetime you would have the chance to pursue another career or passion instead of being an IT practitioner, what would that be?</i> &nbsp&nbsp
				 I would have been an economist. I actually got my masters in Economics from the UAP and it has continually interested me through the years especially during and after the recent financial crisis. 

				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>		
		</div>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-macjune.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Macjune D. Tolentino<br></span>
						<span class="aboutcardsubtitle">Technical Director<br>HRmall</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I love to be in the forefront of technology and being always in the know of the latest technological trends in the market.  I find that there's some sort of thrill and adventure in it.   If, however, I'm not in the field of IT, I would probably be a photographer... maybe a photo journalist.  I love to document things, particularly people, culture, and places.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
	<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-besler.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Christian Besler<br></span>
						<span class="aboutcardsubtitle">Chief Digital Officer<br>Ayala Healthcare Holdings Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
				<center>---</center>
				</span>
				<center>
					<div class="btn readmore">
						
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gerard.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Gerard R. Estrada<br></span>
						<span class="aboutcardsubtitle">IT Head for Energy & Infra Group<br>AC Energy Holdings Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I love being an IT practitioner because knowing and working with the latest technology is part of the job. Also, I enjoy making technology work for people.
					In another lifetime, I would probably pursue a career in medicine. I come from a family of doctors and always have this curiosity to understand ailments and corresponding medication. I can see myself fulfilled  in serving patients and making their lives better.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-suzette.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Suzette B. Taala<br></span>
						<span class="aboutcardsubtitle">IT Head<br>Affordable Private Education Center</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					What I love most about being an IT practitioner is the opportunity to learn new things every day because technology is constantly evolving. In addition, people/companies are evolving as far as their needs / requirements for technology so it keeps the life of an IT practitioner interesting and challenging.  If given a chance to pursue a passion, I would study and practice to become a certified yoga teacher.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		</center>
	</div>
	<br><br><br>
	<center>
	<div id="index1title">SPONSORS</div>
	</center>
	</div>
</section>

<section id="spons-platinum">
<br>
	<center>
		<div class="venheader">PLATINUM SPONSORS</div><br>
		<div class="row">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-accenture.jpg'),:style=>"width:210px; margin-top:5px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-AISI.png'),:style=>"width:400px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-barhead.png'),:style=>"width:240px; margin-top:30px;"%>

			</div>

		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-brother.jpg'),:style=>"width:210px; margin-top:5px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-globe.png'),:style=>"width:270px;"%>
			</div>
			<div class="col-md-4" style="padding-bottom:1px;">
			<%=image_tag ('/assets/sponsors/plat-huawei.png'),:style=>"width:105px; margin-top:-10px;"%>

			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-oracle.jpg'),:style=>"width:220px; margin-top:30px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-ramco.png'),:style=>"width:190px; margin-top:5px;"%>
			</div>
		</div>
		
	</center>
</section>
<section id="spons-gold">
	<center>
		<div class="venheader">GOLD SPONSOR</div>
		<div class="row" style="width:70vw;">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/gold-sapphire.png'),:style=>"width:120px; margin-top:20px;"%>
			</div>
		</div>
	</center>
</section>
<section id="spons-silver">
	<center>
		<div class="venheader">SILVER SPONSORS</div><br><br>
		<div class="row">
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-anaplan.jpg'),:style=>"width:140px; margin-top:5px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fis.jpg'),:style=>"width:110px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fortinet.jpg'),:style=>"width:200px; margin-top:20px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fujitsu.jpg'),:style=>"",:class=>"fujitsu"%>

			</div>

		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-intel.jpg'),:class=>"intel"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-nmi.png'),:style=>"width:130px; margin-top:-30px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-sas.png'),:style=>"width:130px; margin-top:0px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-softwareone.png'),:style=>"width:190px; margin-top:20px;"%>

			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-tm.jpg'),:style=>"width:150px; margin-top:25px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-trends.jpg'),:style=>"width:260px; margin-top:20px;"%>
			</div>
			<div class="col-md-3">
			</div>

		</div>
	</center>
</section>
<section id="spons-session">
	<center>
		<div class="venheader">SESSION SPONSORS</div><br><br><br>
		<div class="row">
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-fpti.png'),:style=>"width:135px; margin-top:-15px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-infomax.png'),:style=>"width:160px; margin-top:0px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-pwc.png'),:style=>"width:110px;margin-top:-40px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-sap.PNG'),:style=>"width:120px; margin-top:-20px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-service.png'),:style=>"width:200px; margin-top:-10px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-teradata.png'),:style=>"width:150px; margin-top:-10px;"%>
			</div>
	</div>
	</center>
</section>
<section id="spons-exhibit">
	<center>
		<div class="venheader">EXHIBIT SPONSORS</div><br><br><br>
		<div class="row">
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-cloud.jpg'),:style=>"width:135px; margin-top:-15px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-equicom.png'),:style=>"width:160px; margin-top:-3px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-evi.png'),:style=>"width:160px;margin-top:-5px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-fast.jpg'),:style=>"width:120px; margin-top:-15px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-inaveit.png'),:style=>"width:130px; margin-top:-32px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-mctri.png'),:style=>"width:160px; margin-top:-10px;"%>
			</div>
		</div>
				<div class="row">
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-net4site.jpg'),:style=>"width:140px; margin-top:15px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-questronix.jpg'),:style=>"width:85px; margin-top:-7px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-smsgt.jpg'),:style=>"width:130px;margin-top:15px;"%>
			</div>
	</div>
	</center>
</section>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHq72FEMBzeK2K7gKW5BWejSAAmufrytI&callback=initMap"
  type="text/javascript"></script>

<section id='venue-sec1' class="cf3">
<center>
<div id="index1title">VENUE</div>
<br><br>
<div class="venheader">1 Garden Way, Ortigas Centre, Mandaluyong City, Manila, 1650 Metro Manila</div><br><br>
	<div class="row">
	<div class="col-md-2"></div>
	<div id="dirdiv" class="col-md-8">
		<div class="inputdiv">
		<input id="address" type="textbox" placeholder="Address of starting location">
	    <input  class="blue"id="verify"type="button" value="1 Verify" onclick="codeAddress()" style="color:white;">
	    <input  class="navy"id="getdir"type="button" value="2 Get Directions" onclick="javascript:calcRoute()" class="direct"  style="color:white;">
	    </div>
	  <div id="latlong" style="display:none;">
	      <p>Latitude: <input size="20" type="text" id="latbox" name="lat" ></p>
	      <p>Longitude: <input size="20" type="text" id="lngbox" name="lng" ></p>
	  </div>

		<div id="map" class="" style=" height: 60vh; margin-top:1.4vh; width:100%;">
	    </div>

	</div>
	</div>
	</center>
</section>
<section id='venue-sec2' class="cf3">
<br><br>
<center>
<div class="venheader">EXPLORE THE VENUE</div> <br><br>
	<div class="row">
	<div class="col-md-2"></div>
	<div id="dirdiv" class="col-md-8">
		<div class="inputdiv">
		<input  class="blue"id="regis"type="button" value="Registration Area" class="tablinks" onclick="toggletab(event, 'regarea')"  style="color:white;">
	    <input  class="blue"id="islab"type="button" value="Isla Ballroom" class="tablinks" onclick="toggletab(event, 'islaball')" style="color:white;">
	    <input  class="blue"id="regis"type="button" value="Palawan Room" class="tablinks" onclick="toggletab(event, 'palawa')"  style="color:white;">
	    </div>

	    <iframe id="regarea"frameborder="0" style="height: 60vh; margin-top:1.4vh; width:100%;" src="https://maps.google.com/maps?layer=c&panoid=F:-IODFb9U_ZAQ%2FV43ccbnwg2I%2FAAAAAAAAAAg%2FlSAIezyGO2cIwjmUxhguSgDlWtXIg93BQCLIB&ie=UTF8&source=embed&output=svembed&cbp=13%2C304%2C%2C0%2C-1.5" allowfullscreen=true class="tabcontent"></iframe>
	    <iframe id="islaball"frameborder="0" style="height: 60vh; margin-top:1.4vh; width:100%;" src="https://maps.google.com/maps?layer=c&panoid=F:-i0wKseKTgts%2FV43cbjsZiZI%2FAAAAAAAAAAg%2FUF7ptXWJgvcU11-k8iDOd81daAvR2wsIQCLIB&ie=UTF8&source=embed&output=svembed&cbp=13%2C304%2C%2C0%2C-1.5" allowfullscreen=true class="tabcontent"></iframe>
	    <iframe id="palawa"frameborder="0" style="height: 60vh; margin-top:1.4vh; width:100%;" src="https://maps.google.com/maps?layer=c&panoid=F:-pkQ8UqFX8ZI%2FV43cbbQKx0I%2FAAAAAAAAAAg%2F4k6gacIAYBscQYWGfAuuJj2LrpIzENngACLIB&ie=UTF8&source=embed&output=svembed&cbp=13%2C304%2C%2C0%2C-1.5" allowfullscreen=true class="tabcontent"></iframe>


	</div>
	</div>
	</center>
</section>


<script type='text/javascript'>
function init_map(){
	geocoder = new google.maps.Geocoder();
	var myOptions = {styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}],zoom:16,center:new google.maps.LatLng(14.5995124,120.9842195),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('map'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(14.5995124,120.9842195)});infowindow = new google.maps.InfoWindow({content:'<strong>ICT Summit 2016</strong><br>ESDA Shangrila Manila<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);

 function codeAddress() {
 	var myOptions = {styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}],zoom:16,center:new google.maps.LatLng(14.5995124,120.9842195),mapTypeId: google.maps.MapTypeId.ROADMAP};
 	map = new google.maps.Map(document.getElementById('map'), myOptions);
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        document.getElementById("latbox").value = marker.getPosition().lat();
        document.getElementById("lngbox").value = marker.getPosition().lng();

        google.maps.event.addListener(marker, 'dragend', function (event) {
            document.getElementById("latbox").value = this.getPosition().lat();
            document.getElementById("lngbox").value = this.getPosition().lng();
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  google.maps.event.addListener(marker, 'dragend', function (event) {
            document.getElementById("latbox").value = this.getPosition().lat();
            document.getElementById("lngbox").value = this.getPosition().lng();
        });
</script>


<script type="text/javascript">

var directionsDisplay = google.maps.DirectionsRenderer();
var directionsService = google.maps.DirectionsService();
function calcRoute() {                                                           //This gets the
     var latitude = document.getElementById("latbox").value;                    //users current
     var longitude = document.getElementById("lngbox").value;                 //location
     var coords = new google.maps.LatLng(latitude, longitude); //Creates variable for map coordinates
     var directionsService = new google.maps.DirectionsService();
     var directionsDisplay = new google.maps.DirectionsRenderer();
     var mapOptions = //Sets map options
     {
     	styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}],
       zoom: 15,  //Sets zoom level (0-21)
       center: coords, //zoom in on users location
       mapTypeControl: true, //allows you to select map type eg. map or satellite
       navigationControlOptions:
       {
         style: google.maps.NavigationControlStyle.SMALL //sets map controls size eg. zoom
       },
       mapTypeId: google.maps.MapTypeId.ROADMAP //sets type of map Options:ROADMAP, SATELLITE, HYBRID, TERRIAN
     };
     map = new google.maps.Map( /*creates Map variable*/ document.getElementById("map"), mapOptions /*Creates a new map using the passed optional parameters in the mapOptions parameter.*/);
     directionsDisplay.setMap(map);
     directionsDisplay.setPanel(document.getElementById('panel'));
     var request = {
       origin: coords,
       destination: new google.maps.LatLng(14.5815704,121.0546256),
       travelMode: google.maps.DirectionsTravelMode.DRIVING
     };
     directionsService.route(request, function (response, status) {
       if (status == google.maps.DirectionsStatus.OK) {
         directionsDisplay.setDirections(response);
       }
     });
}
/**TABS**/
function toggletab(evt, roomName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(roomName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
