<section id="spons-head">
</section>
<section id="spons-platinum">
	<center>
		<span class="sponsheader">PLATINUM SPONSORS</span><br>
		<div class="row">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-accenture.jpg'),:style=>"width:210px; margin-top:5px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-AISI.png'),:style=>"width:400px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-barhead.png'),:style=>"width:240px; margin-top:30px;"%>

			</div>

		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-brother.jpg'),:style=>"width:210px; margin-top:5px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-globe.png'),:style=>"width:270px;"%>
			</div>
			<div class="col-md-4" style="padding-bottom:1px;">
			<%=image_tag ('/assets/sponsors/plat-huawei.png'),:style=>"width:105px; margin-top:-10px;"%>

			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-oracle.jpg'),:style=>"width:220px; margin-top:30px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-ramco.png'),:style=>"width:190px; margin-top:5px;"%>
			</div>
		</div>
		
	</center>
</section>
<section id="spons-gold">
	<center>
		<span class="sponsheader">GOLD SPONSOR</span>
		<div class="row" style="width:70vw;">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/gold-sapphire.png'),:style=>"width:180px; margin-top:20px;"%>
			</div>
		</div>
	</center>
</section>
<section id="spons-silver">
	<center>
		<span class="sponsheader">SILVER SPONSORS</span><br><br>
		<div class="row">
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-anaplan.jpg'),:style=>"width:140px; margin-top:5px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fis.jpg'),:style=>"width:110px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fortinet.jpg'),:style=>"width:200px; margin-top:20px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fujitsu.jpg'),:style=>"width:180px; margin-top:-20px;"%>

			</div>

		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-intel.jpg'),:style=>"width:170px; margin-top:5px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-nmi.png'),:style=>"width:130px; margin-top:-30px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-sas.png'),:style=>"width:130px; margin-top:0px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-softwareone.png'),:style=>"width:190px; margin-top:20px;"%>

			</div>

		</div>
	</center>
</section>
<section id="spons-session">
	<center>
		<span class="sponsheader">SESSION SPONSORS</span>
	</center>
</section>
<section id="spons-exhibit">
	<center>
		<span class="sponsheader">EXHIBIT SPONSORS</span>
	</center>
</section>