<nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent; padding:none; border-color:transparent; border:none;">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="navlink">
        <a class=""href="/#abtthe">ABOUT THE SUMMIT</a></li>
        <li class="navlink"><a class=""href="/#cioforum">CIO FORUM MEMBERS</a></li>
        <li class="navlink"><a class=""href="/#programsec">PROGRAM</a></li>

        <li class="dropdown navlink">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SPONSORS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  class="scroll"href="#spons-platinum">PLATINUM</a></li>
            <li><a  class="scroll"href="#spons-gold">GOLD</a></li>
            <li><a  class="scroll"href="#spons-silver">SILVER</a></li>
            <li><a  class="scroll"href="#spons-session">SESSION</a></li>
            <li><a  class="scroll"href="#spons-exhibit">EXHIBITORS</a></li>
          </ul>
        </li>
        <li class="navlink"><a href="/venue">VENUE</a></li>
         <li class="navlink"><a href="/venue">FAQ</a></li>
        <li class="navlink"><a href="/venue">REGISTER</a></li>
      </ul>

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<section id="spons-head">
</section>
<section id="spons-platinum">
<br>
	<center>
		<div class="sponsheader">PLATINUM SPONSORS</div><br>
		<div class="row">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-accenture.jpg'),:style=>"width:210px; margin-top:5px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-AISI.png'),:style=>"width:400px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-barhead.png'),:style=>"width:240px; margin-top:30px;"%>

			</div>

		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-brother.jpg'),:style=>"width:210px; margin-top:5px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-globe.png'),:style=>"width:270px;"%>
			</div>
			<div class="col-md-4" style="padding-bottom:1px;">
			<%=image_tag ('/assets/sponsors/plat-huawei.png'),:style=>"width:105px; margin-top:-10px;"%>

			</div>
		</div>
		<div class="row" style="">
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-oracle.jpg'),:style=>"width:220px; margin-top:30px;"%>
			</div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/plat-ramco.png'),:style=>"width:190px; margin-top:5px;"%>
			</div>
		</div>
		
	</center>
</section>
<section id="spons-gold">
	<center>
		<div class="sponsheader">GOLD SPONSOR</div>
		<div class="row" style="width:70vw;">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			<%=image_tag ('/assets/sponsors/gold-sapphire.png'),:style=>"width:180px; margin-top:20px;"%>
			</div>
		</div>
	</center>
</section>
<section id="spons-silver">
	<center>
		<div class="sponsheader">SILVER SPONSORS</div><br><br>
		<div class="row">
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-anaplan.jpg'),:style=>"width:140px; margin-top:5px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fis.jpg'),:style=>"width:110px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fortinet.jpg'),:style=>"width:200px; margin-top:20px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-fujitsu.jpg'),:style=>"width:180px; margin-top:-20px;"%>

			</div>

		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-intel.jpg'),:style=>"width:170px; margin-top:5px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-nmi.png'),:style=>"width:130px; margin-top:-30px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-sas.png'),:style=>"width:130px; margin-top:0px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-softwareone.png'),:style=>"width:190px; margin-top:20px;"%>

			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-tm.jpg'),:style=>"width:150px; margin-top:25px;"%>
			</div>
			<div class="col-md-3">
			<%=image_tag ('/assets/sponsors/silver-trends.jpg'),:style=>"width:260px; margin-top:20px;"%>
			</div>
			<div class="col-md-3">
			</div>

		</div>
	</center>
</section>
<section id="spons-session">
	<center>
		<div class="sponsheader">SESSION SPONSORS</div><br><br><br>
		<div class="row">
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-fpti.png'),:style=>"width:135px; margin-top:-15px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-infomax.png'),:style=>"width:160px; margin-top:0px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-pwc.png'),:style=>"width:110px;margin-top:-40px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-sap.PNG'),:style=>"width:120px; margin-top:-20px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-service.png'),:style=>"width:200px; margin-top:-10px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/session-teradata.png'),:style=>"width:150px; margin-top:-10px;"%>
			</div>
	</div>
	</center>
</section>
<section id="spons-exhibit">
	<center>
		<div class="sponsheader">EXHIBIT SPONSORS</div><br><br><br>
		<div class="row">
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-cloud.jpg'),:style=>"width:135px; margin-top:-15px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-equicom.png'),:style=>"width:160px; margin-top:-3px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-evi.png'),:style=>"width:160px;margin-top:-5px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-fast.jpg'),:style=>"width:120px; margin-top:-15px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-inaveit.png'),:style=>"width:130px; margin-top:-32px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-mctri.png'),:style=>"width:160px; margin-top:-10px;"%>
			</div>
		</div>
				<div class="row">
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-net4site.jpg'),:style=>"width:140px; margin-top:15px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-questronix.jpg'),:style=>"width:85px; margin-top:-7px;"%>
			</div>
			<div class="col-md-2">
			<%=image_tag ('/assets/sponsors/ex-smsgt.jpg'),:style=>"width:130px;margin-top:15px;"%>
			</div>
	</div>
	</center>
</section>