 <!DOCTYPE html>
<html>
<head>
  <title>ICT Summit 2016</title>
  <meta name="google-site-verification" content="sMYlh-en8BldrbkXm1CDl8KgM24ktElNm8a7uDC1OXE" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon4.ico" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
</head>
<body>

<%= yield %>

<div id="footer-top">
<center>
<a id="register" href="http://ayalaict.pouchnation.com/">REGISTER</a>
</center>
</div>
<div id="particles-js">
  <div class="row">
    <div class="col-md-4">
      <span id="cright">Ayala Group ICT Summit © 2016</span>
    </div>
    <div class="col-md-4">
      <center>
      <%=image_tag ('/assets/email.png'),:style=>"height:44px; margin-top:-12px;"%>
      </center>
    </div>
    <div class="col-md-4">
      <span id="developedby"><a id="dblink"href="https://github.com/enzobautista"><span id="codetext">< ></span> by Enzo Bautista</a></span>
    </div>
  </div>
  <center>
  <br>
  </center>
</div>
<!-- scripts -->
<script src="assets/particles.js"></script>
<script src="assets/app.js"></script>
  <script src="/assets/wow.min.js"></script>
  <script>
  new WOW().init();
  </script> 
	<script type="text/javascript">
		function checkScroll(){
		    var startY = $('.navbar').height() * 1.2; //adjusts where transition starts

		    if($(window).scrollTop() > startY){
		        $('.navbar').addClass("scrolled");
		    }else{
		        $('.navbar').removeClass("scrolled");
		    }
		}

		if($('.navbar').length > 0){
		    $(window).on("scroll load resize", function(){
		        checkScroll();
		    });
		}
		
	</script>
  <script type='text/javascript'>
    var hashTagActive = "";
    $(".scroll").on("click touchstart" , function (event) {
        if(hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
            event.preventDefault();
            //calculate destination place
            var dest = 0;
            if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                dest = $(document).height() - $(window).height();
            } else {
                dest = $(this.hash).offset().top;
            }
            //go to destination
            $('html,body').animate({
                scrollTop: dest
            }, 2000, 'swing');
            hashTagActive = this.hash;
        }
    });
</script>

</body>
</html>
